backports.entry-points-selectable==1.1.1
certifi==2021.10.8
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
distlib==0.3.4
enum34==1.1.10
filelock==3.2.1
Flask==1.1.4
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
gunicorn==19.10.0
importlib-metadata==2.1.2
importlib-resources==3.3.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pathlib2==2.3.6
pipenv==2021.5.29
platformdirs==2.0.2
requests==2.10.0
scandir==1.10.0
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.28
typing==3.7.4
virtualenv==20.10.0
virtualenv-clone==0.5.7
Werkzeug==1.0.1
zipp==1.2.0
