.App {
  text-align: center;
  background-color: #e69278;
  font-size: calc(10px + 2vmin);
  font-family: "playfair display", serif;
  color: white;
}

.Main {
  min-height: 100vh;
  background-image: url("components/images/coverpage.JPG");
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Main h1 {
  position: relative;
  top: -20vh;
  left: -12vh;
  font-size: 16vh;
  font-weight: normal;
  font-family: cursive;
}

.About {
  min-height: 20vh;
}

.About h2 {
  padding-top: 6vh;
  font-family: cursive;
  font-weight: normal;
}

.About p {
  padding-right: 40vh;
  padding-left: 40vh;
  padding-bottom: 10vh;
}

.bg-image {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Button {
  background: transparent;
  border: none;
  font-size: 35px;
  position: absolute;
  top: 6vh;
  left: 3vw;
  color: white;
}

.Button a:hover {
  font-size: 30px;
  transition: all 0.1s ease;
}

.Sidebar {
    background: #e69278;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    display: none;
}

.Sidebar li {
    display: block;
    padding: 13px 0px;
    font-size: 23px;
  }

.Sidebar a {
  color: white;
  text-decoration: none;
}

.Sidebar a:hover{
  color: black;
  }

.Sidebar ul {
  position: absolute;
  top: 11vh;
  left: 2vh;
  list-style-type: none;
}

.Mood-page {
  background-color: white;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: black;
  border: #e69278;
  border-style: solid;
  border-width: 8vw;
  /*border-top-width: 8vh;*/
  border-top-width: 0;
  border-bottom-width: 0;
}

.Mood-page h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-family: cursive;
  font-weight: normal;
  font-size: 2.8em;
  /*color: #ba593b;*/
}

.Mood-page h2 {
  margin-top: 30px;
  margin-left: 20vw;
  margin-right: 20vw;
  font-family: cursive;
  font-weight: normal;
  font-size: 0.7em;
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 40px;
}

.Post {
  /*border-color: #ce7d64;*/
  border-style: solid;
  border-width: thin;
  padding: 0px;
  margin: 3vw;
  overflow: hidden;
  width: 50vw;
  height: 18vw;
}

.Post-item{
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 50%;
  height: 100%;
  justify-content: left;
}

.Post-image {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  justify-content: left;
}

.Post-date {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 0.5em;
}

.Post-item h3 {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 0.9em;
  text-align: left;
}

.Info {
  height: 7em;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 0.6em;
  text-align: left;
  overflow: hidden;
}

.hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
